.fixTableHead {
  overflow-y: auto;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  background-color: rgb(216, 216, 216);
  color: black;
  text-align: center;
  vertical-align: middle;
}

table {
  font-size: 14px;
  display: block;
  max-height: 350px;
  overflow-y: scroll;
  border-collapse: collapse;
}

td {
  word-wrap: break-word;
}

tr {
  cursor: pointer;
}

.paginationDiv{
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.paginationItems{
    margin: 0 10px 0 10px;
}
